<%-include("partials/header")%>

<div class="ui main text container segment">
	<div class="ui huge header"><%= post.title %></div>
	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= post.image %>">
			<div class="content">
				<span><%= post.created.toDateString() %></span>
			</div>
			<div class="description">
				<p><%= post.body %></p>
			</div>
			<a id="edit" class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
			<!--delete form-->
			<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button id="deleteButton" class="ui red basic button">Delete</button>
			</form>
		</div>
	</div>
</div>

<%-include("partials/footer")%>