<%-include("../partials/header")%>

<div style="margin-top:55px;" class="ui main text container segment">
	<div class="ui huge header"><%= post.title %></div>
	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= post.image %>">
			<div class="content">
				<span style="font-weight: bold;"><%= post.created.toDateString() %></span>
			</div>
			<div class="description">
				<p style="padding-bottom:25px; padding-top:10px;"><%= post.body %></p>
			</div>

			<!--reply button-->
			<button id="replyButton" class="ui tiny grey basic button">Reply</button>
			
			<div style="float:right;"id="delete-form">
			<!--delete form-->
			<form action="/topics/<%=post._id%>?_method=DELETE" method="POST">
				<!--edit and delete button-->
				<a style="margin:0;"id="editButton" class="ui tiny orange basic button" href="/topics/<%=post._id%>/edit">Edit</a>
				<button style="margin:0;"id="deleteButton" class="ui tiny red basic button">Delete</button>
			</form>
			</div>
		</div>
	</div>

	<!--COMMENTS-->

	<div class="ui small comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/jenny.jpg">
        </a>
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--put method override because we are putting a comment on the same page-->
  <form class="ui reply form" action="/topics/<%=post._id%>?method=PUT" method="POST">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Comment
    </div>
  </form>
</div>

</div>
<!--Script-->
<script type="text/javascript">
	$(document).ready(function(){
		//fill buttons with their respective color on hover      
		$("#replyButton").hover(function(){$(this).toggleClass("basic");});
		$("#editButton").hover(function(){$(this).toggleClass("basic");});
		$("#deleteButton").hover(function(){$(this).toggleClass("basic");})
	});

</script>

<%-include("../partials/footer")%>